[submodule "3rdparty/portmidi"]
	path = 3rdparty/portmidi
	url = https://github.com/PortMidi/portmidi.git
[submodule "3rdparty/libresample"]
	path = 3rdparty/libresample
	url = https://github.com/minorninth/libresample.git
