[submodule "3rdparty/portmidi"]
	path = 3rdparty/portmidi
	url = https://github.com/PortMidi/portmidi.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
